body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cacfd2;
}

#message-container {
    flex: 1;
    margin-top: 2%;
    /* Enable vertical scrolling */
    overflow-y: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    width: 80%;
    height: 30%;
    align-self: center;
    background-color: white;
}

#message-container div {
    background-color: #CCC;
    padding: 5px;
    border: 2px solid #2d2b2b;
    border-radius: 10px;
    margin-bottom: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #FFF;
}


#send-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    width: 40%;
    align-self: center;
}

#message-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #2d2b2b;
}

#message-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

#send-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #a4afae;
    /* Smooth color transition */
    transition: background-color 0.2s;
}

#send-button:hover {
    background-color: #6d7877;
}